<!-- Product Section Begin -->
<section class="product-page spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-14">
                <div class="product__page__content">
                    <div class="product__page__title">
                        <div>
                            <div class="col-lg-12 col-md-4 col-sm-6">
                                <div class="row">
                                    <button class="btn btn-link col text-center" [class.active]="statusSelected === 'airing'" (click)="getAnimes('airing', true)">Top En Emisión</button>
                                    <button class="btn btn-link col text-center" [class.active]="statusSelected === ''" (click)="getAnimes('', true)" >Populares</button>
                                    <button class="btn btn-link col text-center" [class.active]="statusSelected === 'bypopularity'" (click)="getAnimes('bypopularity', true)">Más Vistos</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-3 col-md-4 col-sm-6" *ngFor="let anime of animes">
                            <div class="product__item">
                                <div class="product__item__pic set-bg"  [style.backgroundImage]="'url(' + anime.images.jpg.large_image_url + ')'">
                                    <div class="ep">{{ anime.episodes }}</div>
                                    <div class="comment"><i class="fa fa-star"></i> {{anime.score}} </div>
                                    <div class="view" [ngClass]="{ 'text-danger': !anime.airing, 'text-success': anime.airing}">
                                        <i class="fa fa-circle"></i> {{ anime.status }}
                                    </div>
                                </div>
                                <div class="product__item__text">
                                    <ul>
                                        <li>{{anime.type}}</li>
                                    </ul>
                                    <h5><a [routerLink]="['/anime-details', anime.mal_id]">{{anime.title}}</a></h5>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="pagination">
                <button class="page-btn" (click)="goToPage(1)" [disabled]="currentPage === 1">First</button>
                <button class="page-btn" (click)="goToPage(currentPage - 1)" [disabled]="currentPage === 1">Previous</button>
                <span class="page-info">Page {{ currentPage }} of {{ totalPages }}</span>
                <button class="page-btn" (click)="goToPage(currentPage + 1)" [disabled]="currentPage === totalPages">Next</button>
                <button class="page-btn" (click)="goToPage(totalPages)" [disabled]="currentPage === totalPages">Last</button>
            </div> 
                
    </div>
</div>
</section>
<!-- Product Section End -->
