    <!-- Hero Section Begin -->
    <section class="hero">
        <div class="container">
            <div class="hero__slider owl-carousel">
                <div class="hero__items set-bg" [ngStyle]="{'background' : 'url(./assets/img/hero/hero-1.jpg)'}">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="hero__text">
                                <div class="label">Adventure</div>
                                <h2>Fate / Stay Night: Unlimited Blade Works</h2>
                                <p>After 30 days of travel across the world...</p>
                                <a href="#"><span>Watch Now</span> <i class="fa fa-angle-right"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="hero__items set-bg" data-setbg="./assets/img/hero/hero-1.jpg">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="hero__text">
                                <div class="label">Adventure</div>
                                <h2>Fate / Stay Night: Unlimited Blade Works</h2>
                                <p>After 30 days of travel across the world...</p>
                                <a href="#"><span>Watch Now</span> <i class="fa fa-angle-right"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="hero__items set-bg" data-setbg="./assets/img/hero/hero-1.jpg">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="hero__text">
                                <div class="label">Adventure</div>
                                <h2>Fate / Stay Night: Unlimited Blade Works</h2>
                                <p>After 30 days of travel across the world...</p>
                                <a href="#"><span>Watch Now</span> <i class="fa fa-angle-right"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Hero Section End -->

    <!-- Product Section Begin -->
    <section class="product spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    <div class="trending__product">
                        <div class="row">
                            <div class="col-lg-8 col-md-8 col-sm-8">
                                <div class="section-title">
                                    <h4>Top En Emisión</h4>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-4">
                                <div class="btn__all">
                                    <a [routerLink]="['/anime-list-top', 'airing']" class="primary-btn">View All <span class="arrow_right"></span></a>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-4 col-md-6 col-sm-8" *ngFor="let anime of animesTopAiring.slice(0,6)">
                                <div class="product__item">
                                    <div class="product__item__pic set-bg" [style.backgroundImage]="'url(' + anime.images.jpg.large_image_url + ')'">
                                        <div class="ep">{{anime.episodes}}</div>
                                        <div class="comment"><i class="fa fa-star"></i> {{anime.score}}</div>
                                       
                                    </div>
                                    <div class="product__item__text">
                                        <ul>
                                            <li>{{anime.type}}</li>
                                        </ul>
                                        <h5><a [routerLink]="[animeDetailsLink, anime.mal_id]">{{anime.title}}</a></h5>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="popular__product">
                        <div class="row">
                            <div class="col-lg-8 col-md-8 col-sm-8">
                                <div class="section-title">
                                    <h4>Popular Shows</h4>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-4">
                                <div class="btn__all">
                                    <a [routerLink]="['/anime-list-top', '']" class="primary-btn">View All <span class="arrow_right"></span></a>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-4 col-md-6 col-sm-6" *ngFor="let anime of animesTop.slice(0,6)">
                                <div class="product__item">
                                    <div class="product__item__pic set-bg" [style.backgroundImage]="'url(' + anime.images.jpg.large_image_url + ')'">
                                        <div class="ep">{{anime.episodes}}</div>
                                        <div class="comment"><i class="fa fa-star"></i> {{anime.score}}</div>
                                       
                                    </div>
                                    <div class="product__item__text">
                                        <ul>
                                            <li>{{anime.type}}</li>
                                        </ul>
                                        <h5><a [routerLink]="[animeDetailsLink, anime.mal_id]">{{anime.title}}</a></h5>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="recent__product">
                        <div class="row">
                            <div class="col-lg-8 col-md-8 col-sm-8">
                                <div class="section-title">
                                    <h4>Recently Added Shows</h4>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-4">
                                <div class="btn__all">
                                    <a href="#" class="primary-btn">View All <span class="arrow_right"></span></a>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-4 col-md-6 col-sm-6"  *ngFor="let anime of animesRecent.slice(0,6)">
                                <div class="product__item">
                                    <div class="product__item__pic set-bg" [style.backgroundImage]="'url(' + anime.entry.images.jpg.large_image_url + ')'">
                                        <div class="ep">{{anime.entry.episodes}}</div>
                                        <div class="comment"><i class="fa fa-star"></i> {{anime.entry.score}}</div>
                                       
                                    </div>
                                    <div class="product__item__text">
                                        <ul>
                                            <li>{{anime.entry.type}}</li>
                                        </ul>
                                        <h5><a [routerLink]="[animeDetailsLink, anime.entry.mal_id]">{{anime.entry.title}}</a></h5>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- <div class="live__product">
                        <div class="row">
                            <div class="col-lg-8 col-md-8 col-sm-8">
                                <div class="section-title">
                                    <h4>Live Action</h4>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-4">
                                <div class="btn__all">
                                    <a href="#" class="primary-btn">View All <span class="arrow_right"></span></a>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-4 col-md-6 col-sm-6"  *ngFor="let anime of animesTopByPopularity.slice(0,6)">
                                <div class="product__item">
                                    <div class="product__item__pic set-bg" [style.backgroundImage]="'url(' + anime.images.jpg.large_image_url + ')'">
                                        <div class="ep">18 / 18</div>
                                        <div class="comment"><i class="fa fa-comments"></i> 11</div>
                                        <div class="view"><i class="fa fa-eye"></i> 9141</div>
                                    </div>
                                    <div class="product__item__text">
                                        <ul>
                                            <li>Active</li>
                                            <li>Movie</li>
                                        </ul>
                                        <h5><a href="#">Shouwa Genroku Rakugo Shinjuu</a></h5>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div> -->
                </div>
                <div class="col-lg-4 col-md-6 col-sm-8">
                    <div class="product__sidebar">
                        <div class="product__sidebar__view">
                            <div class="section-title">
                                <h5>Top Views</h5>
                            </div>
                            <ul class="filter__controls">
                                <li class="active" data-filter="*">Day</li>
                                <li data-filter=".week">Week</li>
                                <li data-filter=".month">Month</li>
                                <li data-filter=".years">Years</li>
                            </ul>
                            <div class="filter__gallery" *ngFor="let anime of animesTopByPopularity.slice(0,6)">
                                <div class="product__sidebar__view__item set-bg mix day years" [style.backgroundImage]="'url(' + anime.images.jpg.large_image_url + ')'">
                                <div class="ep">{{anime.episodes}}</div>
                                <div class="view"><i class="fa fa-eye"></i> {{anime.type}}</div>
                                <h5><a [routerLink]="[animeDetailsLink, anime.mal_id]">{{anime.title}}</a></h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Product Section End -->
