<!-- Anime Section Begin -->
<section class="anime-details spad">
    <div class="container">
        <div class="anime__details__content">
            <div class="row">
                <div class="col-lg-3">
                    <div class="anime__details__pic set-bg" [style.backgroundImage]="'url(' + animeDetails.images?.jpg?.large_image_url + ')'">
                        <div class="comment"><i class="fa fa-film"></i> {{animeDetails.episodes}}</div>
                        <div class="view" [ngClass]="{ 'text-danger': !animeDetails.airing, 'text-success': animeDetails.airing}">
                            <i class="fa fa-circle"></i> {{ animeDetails.status }}
                        </div>
                    </div>
                    
                </div>
                <div class="col-lg-9">
                    <div class="anime__details__text">
                        <div class="anime__details__title">
                            <h3>{{ animeDetails.title }}</h3>
                            <span>{{ animeDetails.title_japanese }}</span>
                        </div>
                        <div class="anime__details__rating">
                            <div class="rating">
                                <i class="fa fa-star"></i>  <span>{{ animeDetails.score }} / 10</span>
                            </div>
                        </div>
                        <p>{{ animeDetails.synopsis }}</p>
                        <div class="anime__details__widget">
                            <div class="row">
                                <div class="col-lg-6 col-md-6">
                                    <ul>
                                        <li><span>Tipo:</span> {{ animeDetails.type }}</li>
                                        <li *ngIf="animeDetails.studios">
                                            <span>Estudios:</span>
                                            <span>{{ getStudioNames() }}</span>
                                        </li>
                                        <li><span>Fecha:</span> {{ getAiredDate() }}</li>
                                        <li><span>Estado:</span> {{ animeDetails.status }}</li>
                                        <li><span>Géneros:</span> {{ getGenres() }}</li>
                                    </ul>
                                </div>
                                <div class="col-lg-6 col-md-6">
                                    <ul>
                                        <li><span>Temas:</span> {{ getThemes() }} </li>
                                        <li><span>Valoraciones:</span> {{ animeDetails.scored_by }} </li>
                                        <li><span>Duration:</span> {{ animeDetails.duration }}</li>
                                        <li><span>Episodios:</span> {{ animeDetails.episodes }}</li>
                                        <li><span>Edad:</span> {{ animeDetails.rating }} </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="anime__details__btn">
                            <a href="#" class="follow-btn"><i class="fa fa-heart-o"></i> Me gusta</a>
                            <a href="#" class="follow-btn"><span>Ver trailer</span></a>
                        </div>
                        </div>
                    </div>
                </div>
            </div>
            
                
            <div class="anime__details__sidebar">
                <div class="section-title">
                    <h5>Te gustaría...</h5>
                </div>
                <div class="row">
                <div class="col-lg-4 col-md-6" *ngFor="let recommendation of animeRecomendations">
                    <div class="product__item__text">
                        <h5 ><a [routerLink]="['/anime-details', recommendation.entry.mal_id]">{{recommendation.entry.title}}</a></h5>
                    </div>
                    <div class="product__sidebar__view__item set-bg" [style.backgroundImage]="'url(' + recommendation.entry.images?.jpg?.large_image_url + ')'">
                    </div>
                </div>
                    <br>
                </div>
            </div>
               
           
        </div>
    </section>
    <!-- Anime Section End -->
